.hero {
    display: flex;
    &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 580px;
        height: 580px;
        background: url(../img/circle.png) no-repeat;
        background-size: 100% 100%;
    }
    &::after {
        content: "";
        position: absolute;
        right: 150px;
        top: 0px;
        width: 400px;
        height: 650px;
        background: url(../../img/iphone.png) no-repeat;
        // background-size: 100% 100%;
        z-index: 10;        
    }
    &__card {
        width: 50%;
        &__title {
            font-family: DM Serif Display;
            font-style: normal;
            font-weight: normal;
            font-size: 72px;
            line-height: 72px;
            /* or 100% */
            letter-spacing: -0.553846px;
            color: #36536B;
        }
        form {
            background: #FBFCFE;
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            border-radius: 24px;
            position: relative;
            padding: 10px;
            margin-right: 50px;
            width: 420px;
            input {
                background: inherit;
                border: 1px solid #FBFCFE;
            }
            .btn {
                position: absolute;
                right: 0;
                top: 0;
                border: 1px solid #BA4270 ;
                text-decoration: none;
                font-family: Public Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 18px;
                /* identical to box height */
                letter-spacing: -0.115385px;
                color: #FBFCFE;
                background: #BA4270;
                box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                border-radius: 24px;
                padding: 12px;
                &:hover {
                    background: #DA6D97;
                }
                &:active {
                    background: red;
                }
            }
        &:hover, &:active {
            box-shadow: 0 0 10px white
        }
        
        }
        &__question {
            font-family: Public Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            /* identical to box height */
            color: #6C8294;
        }
    }
    
}
 @media screen and (max-width: 960px) {
    .hero {
        height: 900px;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-items: center;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: -500px;
            left: -5%;
            width: 900px;
            height: 580px;
            background: url(../../img/circle6.png) no-repeat;
            background-size: 100% 100%;
            z-index: -100;

        }
        &::after {
            content: "";
            position: absolute;
            right: 37%;
            top: 0px;
            z-index: 10;        
        }
        &__card {
            position: absolute;
            width: 50%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            left: 20%;
            bottom: 0;
            &__title {
                text-align: center;
                font-family: DM Serif Display;
                font-style: normal;
                font-weight: normal;
                font-size: 48px;
                line-height: 72px;
                /* or 100% */
                letter-spacing: -0.553846px;
                color: #36536B;
            }
            form {
                background: #FBFCFE;
                box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                border-radius: 24px;
                position: relative;
                padding: 10px;
                margin-right: 50px;
                
                input {
                    background: inherit;
                    border: 1px solid #FBFCFE;
                }
                .btn {
                    position: absolute;
                    z-index: 9999999;
                    right: 0;
                    top: 0;
                    border: 1px solid #BA4270 ;
                    text-decoration: none;
                    font-family: Public Sans;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    /* identical to box height */
                    letter-spacing: -0.115385px;
                    color: #FBFCFE;
                    background: #BA4270;
                    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                    border-radius: 24px;
                    padding: 12px;
                    white-space: pre-wrap;
                    &:hover {
                        background: red;
                    }
                }
            }
            &__question {
                font-family: Public Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 18px;
                /* identical to box height */
                color: #6C8294;
            }
        }
        
    }
 }
 @media screen and (max-width: 750px) {
    .hero {
        height: 900px;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-items: center;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: -300px;
            left: -78px;
            width: 800px;
            height: 580px;
            background: url(../../img/circle.png) no-repeat;
            background-size: 100% 100%;
            z-index: 1000;
        }
        &::after {
            content: "";
            position: absolute;
            right: 45%;
            top: 0px;
            z-index: 10;        
        }
        &__card {
            position: absolute;
            width: 50%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            left: 10%;
            bottom: -30px;
            &__title {
                text-align: center;
                font-family: DM Serif Display;
                font-style: normal;
                font-weight: normal;
                font-size: 48px;
                line-height: 72px;
                /* or 100% */
                letter-spacing: -0.553846px;
                color: #36536B;
            margin-top: 220px;

            }
            form {
                background: #FBFCFE;
                box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                border-radius: 24px;
                padding: 10px;
                margin-right: 50px;
                display: flex;
                flex-direction: column;
                
                
                input {
                    background: inherit;
                    border: 1px solid #FBFCFE;
                    
                }
                .btn {
                    margin-top: 70px;
                    margin-bottom: 50px;
                    width: inherit;
                    border: 1px solid #BA4270 ;
                    text-decoration: none;
                    font-family: Public Sans;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;

                    letter-spacing: -0.115385px;
                    color: #FBFCFE;
                    background: #BA4270;
                    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                    border-radius: 24px;
                    padding: 12px;
                 
                }
            }
            &__question {
                font-family: Public Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 18px;
                /* identical to box height */
                color: #6C8294;
                margin-top: 80px;
                margin-right: 40px;
           }
        }
        
    }
 }